.apTextarea {
  position: relative;

  &Textarea {
    width: calc(100% - 40px);
    border: none;
    height: 100px;
    background: #545a63;
    outline: none;
    resize: none;
    padding: 20px;
    color: white;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
      Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.42857143;

    &::placeholder {
      color: #adadad;
    }
  }

  &ErrorText {
    position: relative;
    display: block;
    color: #db6567;
  }
}
