.movie {
  position: relative;
  height: 300px;
  color: #ffffff;

  &Container {
    position: relative;
    display: flex;

    &About {
      position: relative;
      margin-left: 30px;

      &Heading {
        position: relative;
        margin-bottom: 20px;

        &Title {
          position: relative;
          font-size: 25px;
        }

        &Tagline {
          position: relative;
          font-style: italic;
        }
      }

      &Param {
        position: relative;
      }
    }

    &Poster {
      position: relative;
      height: 300px;
      min-height: 300px;
      width: 200px;
      min-width: 200px;
    }
  }

  &Overview {
    position: relative;
    margin-top: 50px;

    &Heading {
      position: relative;
      font-size: 25px;
      margin-bottom: 20px;
    }

    &Text {
      position: relative;
    }
  }
}
