$params: ("m", "margin"), ("p", "padding");
$directions: ("T", "top"), ("R", "right"), ("B", "bottom"), ("L", "left");

@each $paramShort, $param in $params {
  @each $directionShort, $direction in $directions {
    @for $i from 0 through 20 {
      .#{$paramShort}#{$directionShort}#{$i} {
        #{$param}-#{$direction}: #{$i}px;
      }
    }
  }
}
