@import "variables";

.indexPage {
  font-size: 1.7rem;

  h1 {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 50px;
    color: $colorWhite;
  }

  p {
    padding: 0 20px;
    color: $colorWhite;
    text-align: center;
  }

  &Bg,
  &Bg2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &Bg {
    background-image: url("../images/bg1.jpg");
    background-size: cover;
    z-index: -2;
  }

  &Bg2 {
    background-color: rgb(41, 49, 60, 0.85);
    z-index: -1;
  }
}
