.input {
  position: relative;
  min-height: 76px;

  &Input {
    width: 100%;
    height: 34px !important;
    outline: 0;
    padding: 0 !important;
    box-shadow: none !important;
    border: none;
    border-bottom: 1px solid #e5e9ec;
    transition: background 0.2s linear 0s, box-shadow 0.2s linear 0s;
    padding-top: 19px !important;

    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
      Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.42857143;

    &::placeholder {
      color: #adadad;
    }

    &Style {
      &Error {
        border-bottom: 1px solid #ec5749;
      }
    }

    &WithIcon {
      padding-right: 30px !important;
      width: calc(100% - 30px);
    }
  }

  &ErrorText {
    display: block;
    color: #db6567;
  }

  &Placeholder {
    position: absolute;
    top: 6px;
    color: #adadad;
    font-size: 14px;

    &Style {
      &TopPlaceholder {
        color: #8a8a8a;
      }
    }
  }

  &Icon {
    position: absolute;
    display: block;
    right: 0;
    bottom: 22px;
    width: 25px;
    height: 25px;
    text-align: center;
  }
}
