.header {
  &Container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    background: rgb(29 44 51 / 97%);
    box-shadow: 0 1px 4px 0 #29343e9e;
    color: #fff;
    height: 60px;
    width: 100%;
    font-size: 1.7rem;
    z-index: 2;
  }
}
