.movies {
  &Container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &Item {
      position: relative;
      width: 200px;
      padding: 20px;

      &Inner {
        $Inner: &;

        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 300px;
        cursor: pointer;

        #{$Inner}Title {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          bottom: 0;
          width: 100%;
          height: 50px;
          color: #ffffff;
          background-color: rgba(0, 0, 0, 0.8);
          opacity: 0;
          z-index: 1;
        }

        &:hover {
          #{$Inner}Title {
            opacity: 1 !important;
          }
        }

        img {
          width: 100%;
          height: 300px;
        }
      }
    }
  }
}
