.apButton {
  position: relative;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
  background: #ffdb4d;
  color: #444;
  padding: 10px 20px 10px 20px;
  border: none;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  line-height: inherit;
  letter-spacing: inherit;
  text-decoration: none;

  &:hover {
    background: #ffd32a;
  }

  &:active {
    background: #ffdb4d;
  }

  &Style {
    &Disabled {
      cursor: default;
      opacity: 0.6;
      pointer-events: none;
    }

    &White {
      background: #ffffff;

      &:hover {
        background: #eaeaea;
      }
    }
  }
}
